/application/*
!application/controllers
!application/third_party
application/third_party/index.html
!application/language
application/language/english
application/language/index.html
application/controllers/index.html
application/controllers/Welcome.php
!application/views
application/views/errors
application/views/index.html
application/views/welcome_message.php
/system
/readme.rst
/license.txt
/index.php
composer.json
.editorconfig
